<ng-container *ngIf="stagiaire">
  <div class="overlay">
    <div class="card">
      <h2>
        <span class="name-puce" appBubble [config]="bubbleConfig">
          {{ stagiaire | initials : { firstNameFirst: false, full: true } }}
        </span>
        {{ stagiaire.getFirstName() }} {{ stagiaire.getLastName() }}
      </h2>
      <div class="info-bloc">
        <span class="info-bloc__key">Firstname:</span>
        <span class="info-bloc__value">{{ stagiaire.getFirstName() }}</span>
      </div>
      <div class="info-bloc">
        <span class="info-bloc__key">Lastname:</span>
        <span class="info-bloc__value">{{ stagiaire.getLastName() }}</span>
      </div>
      <div class="info-bloc">
        <span class="info-bloc__key">Birthdate:</span>
        <span class="info-bloc__value">{{ stagiaire.getBirthDate() | date: 'dd-MM-YYYY' }}</span>
      </div>
      <div class="info-bloc">
        <span class="info-bloc__key">Email:</span>
        <span class="info-bloc__value">{{ stagiaire.getEmail() }}</span>
      </div>
      <div class="info-bloc">
        <span class="info-bloc__key">Phone number</span>
        <span class="info-bloc__value">{{ stagiaire.getPhoneNumber() }}</span>
      </div>
      <button class="close-btn" type="button" (click)="onClick()">
        X
      </button>
    </div>
  </div>
</ng-container>


