<!-- <ng-container *ngIf="stagiairePoeForm">

  <form [formGroup]="stagiairePoeForm" (ngSubmit)="onSubmit()" [ngClass]="{'valid': stagiairePoeForm.valid}">

    <mat-form-field appearance="fill">
      <mat-label>Type</mat-label>
      <select matNativeControl required formControlName="type">
        <option value="POEI">POEI</option>
        <option value="POEC">POEC</option>
      </select>
    </mat-form-field>

      <div class="btn-list">
        <button
          mat-raised-button
          color="primary"
          [disabled]="!stagiairePoeForm.valid"
          class="btn add-btn"
        >
          {{ addMode ? 'Add 💚' : 'Update 💚'}}
        </button>
        <button type="button" mat-raised-button color="warn" (click)="goHome()" class="btn">
          Cancel 💀
        </button>
      </div>
  </form>


  </ng-container> -->
  <p>COUCOU</p>
