<a mat-raised-button color="accent" (click)="changeBooleanState( )">
  Filtres
</a><a mat-raised-button color="accent" [routerLink]="['/', 'poe', 'add']">
  Ajouter POE
</a>
<div *ngIf="filter">
  <a mat-raised-button color="accent" (click)="resetFilter( )">
    Reset filter
  </a>
  <div class="search">
    <input class="searchTerm" type="text" name="searchTerm" placeholder="Filter by title" [(ngModel)]="filterTitle"
      (input)="doSearchBar(filterTitle, filterType)" />
    <mat-select matNativeControl required placeholder="Filter by type" (selectionChange)="doSearchBar(filterTitle, filterType)" formControlName="type" [(value)]="filterType">
      <mat-option value="">--</mat-option>
      <mat-option value="POEI">POEI</mat-option>
      <mat-option value="POEC">POEC</mat-option>
    </mat-select>
  </div>
  <app-poe-filter [filterDate]="stopDate" (onChangeFilter)="filterChanged($event)"></app-poe-filter>
</div>



<table>
  <thead>
    <tr>
      <th class="center-cell">
        #
      </th>
      <th class="left-cell">
        Title
      </th>
      <th class="left-cell">
        beginDate
      </th>
      <th class="left-cell">
        endDate
      </th>
      <th class="left-cell">
        type
      </th>
      <th>
        &nbsp;
      </th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let poe of poes">
      <tr *ngIf="changeView(poe)">
        <td class="center-cell">{{ poe.getId() }}</td>
        <td> {{ poe.getTitle() }} </td>
        <td>{{ poe.getBeginDate() | date: 'dd-MM-YYYY' }}</td>
        <td>{{ poe.getEndDate() | date: 'dd-MM-YYYY' }}</td>
        <td>{{ poe.getType() }} </td>
        <td class="center-cell">
          <button mat-mini-fab color="primary" type="button" [routerLink]="['/','poe', 'detail', poe.getId()]">
            <mat-icon>visibility</mat-icon>
          </button>
          <button mat-mini-fab color="accent" type="button" (click)="onEdit(poe)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-mini-fab color="warn" type="button" (click)="onDelete(poe)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </tr>
    </ng-container>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="6" class="right-cell"></td>

    </tr>
  </tfoot>
</table>