<mat-card>
    <mat-card-header>
      <mat-card-title>
        <button mat-mini-fab color="primary" (click)="onBackButton()">
          <mat-icon>keyboard_arrow_left</mat-icon>
        </button>
        {{survey.getLevel()}} : {{survey.getTitle()}}
      </mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <p *ngIf="survey.getQuestions().length === 0">Il n'y a actuellement aucune question dans ce questionnaire</p>
      <p *ngIf="survey.getQuestions().length === 1">Dans ce questionnaire, il y a déjà {{survey.getQuestions().length}} question</p>
      <p *ngIf="survey.getQuestions().length > 1">Dans ce questionnaire, il y a déjà {{survey.getQuestions().length}} questions</p>
      <p>Dans cette liste, il y a {{questions.length}} questions</p>

      <button
        mat-raised-button
        color="primary"
        class="btn add-btn"
        [disabled]="questionsToAdd.length === 0"
        (click)="onAddManyQuestions()"
      >
        Ajouter {{questionsToAdd.length}} questions 💚
      </button>

      <mat-selection-list #questionsSelected [(ngModel)]="questionsToAdd" (selectionChange)="onListSelectionChange($event)">
        <!-- <mat-list-option *ngFor="let stagiaire of stagiaires" [value]="stagiaire.getId()"> -->
        <mat-list-option *ngFor="let question of questions" [value]="question">
          {{question.getText()}}
        </mat-list-option>
      </mat-selection-list>


    </mat-card-content>
  </mat-card>
  
