$std-color: rgb(63, 81, 181);
$light-color: rgb(255, 255, 255);

.filters-bar {
  padding: .5rem;
  background-color: $light-color;
  border: 1px solid $std-color;
  .btn-group {
    display: inline-block;
    border: 1px solid $std-color;
    border-radius: 35px;
    padding: .2rem;
    button {
      font-weight: bold;
      padding: .5rem 2rem;
      border-radius: 35px;
      border: 1px solid $std-color;
      background-color: $light-color;
      color: $std-color;
      transition: all .3s cubic-bezier(0.17, 0.84, 0.44, 1);

      &:not(:last-child) {
        margin-right: 1rem;
      }

      &:hover {
        background-color: lighten($std-color, $amount: 20);
        color: $light-color;
        cursor: pointer;
      }

      &.active {
        background-color: $std-color;
        color: $light-color;
      }
    }
  }
}
